
.form{
    position: fixed;
    margin-left: 0px;
    background-color: rgb(232, 232, 236);
    height: 100%;
    width: 35%;
}

.table{
    margin-top: 25px;
    margin-left: 20%;
    width: 80%;
    position: relative;
}

.btn-from-edit {
    width: 70px;
    margin: 2px;
}

.btn-form-delete{
    width: 70px;
    margin: 2px;
}

/* .btn-form-sucess{
    position: relative;
    margin-top: 10px;
    margin-left: 350px;
} */